body {
    background-color: #0D1A2D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div.fundo {
    background-color: #0F2F5F;
    padding: 30px;
    width: 400px;
    height: 700px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

h1 {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;  
}
.first-paragraph {
    position: relative;
    color: #E2D2D2;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.image-value {
    color: #00FFFF ;
    float: left;
    border: none;
    padding: 0px;
    width: 100px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700px;
    font-size: 20px;
    line-height: 24px;
    
}
.left-days {
    color: #FFFFFF;
    float: right;
    width: 100px;
    height: 100px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    
}
.bar {

    position: relative;
    border: 1px solid rgba(25, 86, 178, 0.8);;
    top: 70px;
}
footer {
   float: left;
}
.credit {
    left: 55px;
    bottom: 15px;
    color: #E2D2D2;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    position: relative;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.people-image {
    position: relative;
    top: 40px
}

@media (min-width: 320px) {
    div.fundo {
        width: 200px;
        height: 500px;
        
    }
    .credit{
        bottom: 125px;
        left: 35px;
    }   

    .nft-image{
        max-width: 200px;
        max-height: 200px;
    }
    .people-image{
        right: 20px;
        top: -55px;
    }
}
@media (min-width: 481px) {
    div.fundo {
        width: 250px;
        height: 575px;
        
    }
    .credit{
        bottom: 110px;
        left: 60px;
    }   

    .nft-image{
        max-width: 250px;
        max-height: 250px;
    }
    .people-image{
        right: 0px;
        top: -45px;
    }
}
@media (min-width: 769px) {
    div.fundo {
        margin-top: 75px;
        width: 350px;
        height: 650px;
        
    }
    .credit{
        bottom: 100px;
        left: 60px;
        
    }   

    .nft-image{
        max-width: 350px;
        max-height: 350px;
    }
    .people-image{
        right: 0px;
        top: -45px;
    }
}
@media (min-width: 1025px) {
    div.fundo {
        margin-top: 125px;
        width: 400px;
        height: 700px;
    }

    .credit{
        bottom: 100px;
        left: 60px;
    }   

    .nft-image{
        max-width: 400px;
        max-height: 400px;
    }
    .people-image{
        right: 0px;
        top: -45px;
    }
    .post-bar{
        position: relative;
        top: 75px;
    }
}